
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
  color: #222;
}

*  Listing Cards */
.listing-card {
  border: none;
  margin-bottom: 2rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.listing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
  height: 250px;
}
.card-body {
  padding: 0.5rem 0.5rem 1rem 0.5rem !important;
}
.card-text p {
  font-weight: 400 !important;
  color: #444;
}
.listing-link {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
.add-btn,
.edit-btn {
  background-color: #ff385c !important;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.add-btn:hover,
.edit-btn:hover {
  background-color: #e31c5f !important;
}

/*  Show Page */
.show-img {
  height: 35vh;
  border-radius: 12px;
  object-fit: cover;
}
.btns {
  display: flex;
  gap: 0.5rem;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}





